DATABASE_URL=postgresql://postgres:password@localhost:5432/medusa
REDIS_URL=redis://localhost:6379
STORE_CORS=http://localhost:3100
ADMIN_CORS=http://localhost:7001
AUTH_CORS=http://localhost:3100,http://localhost:7001
JWT_SECRET=change-me-to-random-secret
COOKIE_SECRET=change-me-to-random-secret
MEDUSA_WORKER_MODE=shared
PORT=9000
# STRIPE_API_KEY=
# STRIPE_WEBHOOK_SECRET=
